# build output
dist/
# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env
.env.production
.env.local
.env.tdstage

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/
.htaccess/
.vscode/
.venv/
stderr.log
staticfiles/
venv/

.json
media/
ZOME/
static/

# Python cache
__pycache__/
*.py[cod]
*$py.class
ZOME/
clean_json.py
export_all.py

#database

db.sqlite3
db.sqlite3-shm
db.sqlite3-wal
**/db.sqlite3
data/media/*
data/db/
data/logs/
!data/media/.gitkeep
!data/db/.gitkeep
static/images
/static/images
package-lock.json
package.json
ruff.toml
data/logs/*.log

# Lighthouse / Chrome audit reports
chromewebdata_*.report.html


